# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java files
[*.java]
indent_style = space
indent_size = 4

# SQL files (Flyway Scripts)
[*.sql]
indent_style = space
indent_size = 4

# XML files
[*.xml]
indent_style = space
indent_size = 4

# Web & Configuration files
[*.{html,css,js,ts,json,jsonc,yml,yaml,md}]
indent_style = space
indent_size = 2