<!doctype html>
<html
  th:lang="|${#locale.language}-${#locale.country}|"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">
      Job Tracker
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Geist+Mono:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <vite:client></vite:client>
    <vite:vite>
      <vite:entry value="/css/application.css"></vite:entry>
    </vite:vite>
  </head>
  <body>
    <main layout:fragment="content"></main>

    <th:block layout:fragment="script-content"> </th:block>
  </body>
</html>
